body {
	background-color:#000000;
}

h1 {
  font-family: 'Old Standard TT';
  color: #e0e0d1;
  text-align: center;  
}
h5 {
  font-family: 'Josefin Sans';
  color: #cbcbb3;
  text-align: justify;  
}